version: "3.8"

services:
  mongo:
    image: mongo:6
    container_name: ecomm-mongo
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: ecomm-backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  frontend:
    build: ./frontend
    container_name: ecomm-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8085:80"

volumes:
  mongo_data:

